<div class="masthead">
<nav class="language-nav">
<ul>
    <li> CSS </li>
    <li> HTML </li>
    <li> Javascript </li>
    <li> Ruby </li>
</ul>
</nav>
<img src="/assets/AA_Times_Logo.png"/> 
<nav class="info-nav">
    <ul>
        <li> Tuesday, October 18, 2016 </li> 
        <i class="fas fa-newspaper"></i> <li > Today’s Paper</li> 
        <i class="fas fa-video"></i><li>Video</li>  
        <li>77°F</li> 
        <li>AAO <span class="green" >100%</span></li>
</ul>
</nav>
</div>